p {
    color:#ED1C24;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px;
    margin: 150px;
    margin-bottom: 10px;
    position: relative;
    left: 300px;
    top: -200px;
}

body{
    background-image: url("../Hypehq/imgs/Hypebackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color:mediumorchid;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    font-size: 50px;
    
}


#logo{
    position: relative;
    padding: 50px;
    
}