html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.sliderText{
 
  font-size:1em;
  font-weight: bold;
  font-family: 'Archivo Black', sans-serif;
  color:white;
  padding:2px;
}


