/*RESETS*/
* {
    margin: 0px;
    padding: 0px;


}

html {
    box-sizing: border-box;
}

/*
*, *:before, *:after {
  box-sizing: inherit;
*/


/*The code above resets box-sizing & margins and padding on all elements*/
/*Your CSS code goes below*/


body {
    font-family: 'Bangers', cursive;
    background-color: grey;
    height: 100vh;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-image: url(../../assets/imgs/mario.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


#go {
   
    color: yellow;
    font-size: 300px;
    animation-name: expand;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes expand {

    0% {
        font-size: 0em;

    }

    100% {

        font-size: 10em;
    }
