body {
    background-color: peachpuff;
    padding: 20px
}

p {
    color: white;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    font-size: 100px
}

ul {
    /*   to get rid of the bullets in the list */
    list-style-type: none;
    font-family: 'Archivo Black', sans-serif;
}

li {
    /*    To have them go next to each other*/
    display: inline-block;
    /*    to give space around them*/
    margin: 30px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: white;
    font-size: 20px;
}

/* visited link */
a:visited {
    color: white;
    font-size: 20px;
}
.projectone{
    width: 600px;
}

.container{
    width: 90%;
    margin: 0 auto;
    
}
.container {
  position: relative;
  width: 30%;
}

.image {
  width: 100%;
  height: auto;
    display: flex;
    flex-direction: row
    
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #FFFFFF;
}

.container:hover .overlay {
  opacity: 10;
}

.text {
  color: lightpink;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

a:hover {
  color: lightpink;
}

a{color: white;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    font-size: 45px}

h1 {
    color: white;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    font-size: 45px
}


.column {
  padding: 20px;
    display: block;
  margin-left: 50px;
  margin-right: 500px;
  width: 33.33%;
  
}

.row:after {
  content: "";
  clear: both;
     display: block;
  margin-left: center;
  margin-right: center;
  width: 33.33%;

  
}