* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.row {
    margin: 0 10px;
    padding: 10px;
    position: absolute;
}

p {
    font-size: 4em;
    color: orange;
    font-family: "Arial", sans-serif;
    z-index: -3;
}


#circle {
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 100px;
    top: 195px;
    left: 511px;
    position: absolute;

    animation-name: expand;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;

}

@keyframes expand {

    0% {
        width: 25%;
        height: 80%;
    }

}

#photo {
    animation-name: colorChange;
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes colorChange {
    0% {
        color: white;
    }

    100% {
        color: orange;
    }
}

a {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: orange;
    font-family: "Arial", sans-serif;
}

a:hover {
    color: red;
}
